mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

ul {
  li {
    list-style: none;
  }
}
.sidebar-toggle {
  outline: none;
  border: 0;
  color: #f2f5f7 !important;
  background: transparent;
}
.user {
  font-size: 14px;
  color: #f2f5f7 !important;
  &:hover {
    color: #94a3b8 !important;
  }
}
mat-toolbar {
  background: #000051;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 18px;
    font-size: 16px;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}
