<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">MAKE AND HOLD</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/make-hold">
    <mat-icon>add_circle</mat-icon> M/H Upload
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/make-hold-data">
    <mat-icon>dashboard</mat-icon> M/H Data
  </a>
</mat-nav-list>
